<div class="container">
<h1 class="text-center">List of cocktails</h1>
  <%= link_to "Add", new_cocktail_path, class: 'btn btn-primary' %>
  <div class="container container-margin">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
            <img class="card-user avatar" src="user.jpg">
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
